.cards {
  display: inline-block;
  width: 20%;
  margin: 30px;
  vertical-align: top;
  min-height: 400px;
}

.card-custom {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin: 20px;
}

.card-custom.card-body {
  flex: 1;
}
.card-title {
  max-height: 40px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-custom img {
  max-width: 220px;
  height: auto;
  display: block;
  padding: 10px;
}

.radio-container {
  height: 70px;
}

.radio-wrapper {
  margin: 10px;
  padding: 2px;
}

.custom-radio {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: gray;
}

/* Tablet and below */
@media (max-width: 800px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}


@keyframes goldChase {
  0% {
    border-color: #ffd700;
  }
  50% {
    border-color: #f1ad2f;
  }
  100% {
    border-color: #ffd700;
  }
}
