.menu {
    color: white;
}

/* .form-control {
    text-align: center;
  } */
  
  .notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: fadeOut 3s ease-in-out;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .counter-input-wrapper {
    width: 80px;
  }