/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*/

html.light-theme {
  --text-primary: #161616;
  --text-secondary: #3e3e3e;
  --bg-primary: #e7ecec;
  --bg-secondary: #dbdada;
}

html.dark-theme {
  --text-primary: #b3b1b1;
  --text-secondary: #8c8787;
  --bg-primary: #1a1919;
  --bg-secondary: #1c1b1b;
}

body {
  /* background-color: var(--bg-primary, white);
  color: var(--text-primary, black); */
  transition: color .5s ease-in, background-color .5s ease-in;
}